<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/style.css">
    <title>Stockezze</title>
</head>

<body>
    <header>
        <nav Class="navegacao">
            <div class="fotos_principal">
                <a href="{{url_for('home')}}">
                    <div id="stock"></div>
                </a>
                <div id="logo"> </div>
            </div>
        </nav>

        <section class="second_nav">
            <div class="escritas">
                <a href="{{ url_for('meu_estoque') }}" class="border_nav">
                    <button class="botao_second_nav">Estoque</button></a>

                <a href="{{ url_for('leitor_barras') }}" class="border_nav">
                    <button class="botao_second_nav">Leitor de barras</button></a>

                <a href="{{ url_for('cadastro_produtos') }}" class="border_nav">
                    <button class="botao_second_nav">Cadastro Produtos</button></a>

                <a href="{{ url_for('relatorio') }}" class="border_nav">
                    <button class="botao_second_nav">Relatório</button></a>
            </div>

    </header>

    <main>
        <section class="mover_all_cadastro">
            <div class="centralizar_cadastro">
                <div>
                    <h1>Cadastrar novo produto</h1>
                    <h4>Adicione um novo produto ao seu estoque:</h4>
                </div>

                <div class="alinhar_cadastro_nome">
                    <div class="boxCadastro">
                        <div class="mover_cadastro_nome">
                            <h2>Nome do Produto: </h2>
                            <input type="text" placeholder="Digite o nome do produto" id="cadastro_nome">
                        </div>

                        <div class="mover_cadastro_nome">
                            <h2>Código de barras: </h2>
                            <input type="text" placeholder="Digite o código de barras ou id" id="cadastro_nome">
                        </div>
                    </div>
                    <img src="../static/img/caixa-aberta.png" alt="" id="imgCadastro">
                </div>

                <div class="second_mover_cadastro_nome">
                    <h2>Descrição do produto: </h2>
                    <input type="text" placeholder="Digite a descrição do produto" id="descricao_pd">
                </div>

                <div class="second_mover_cadastro_nome">
                    <h2>Informe o lote minimo: </h2>
                    <input type="text" placeholder="Quantidade minima do produto em estoque " id="cadastro_nome">
                </div>

                <div class="second_mover_cadastro_nome">
                    <h2>Informe uma quantidade de produtos: </h2>
                    <input type="text" placeholder="Quantidade de produtos" id="cadastro_nome">
                </div>

                <div class="second_mover_cadastro_nome">
                    <h2>Data de validade: </h2>
                    <input type="text" placeholder="dd/mm/aaaa" id="data">
                </div>
            </div>
        </section>

    </main>

    <footer>

    </footer>
</body>

</html>