<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="stylesheet" href="../static/css/filtro.css">
    <link rel="stylesheet" href="../static/css/cadastroproduto.css">
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
    <title>Stockezze - Meu Estoque</title>
</head>

<body>
    <header>
        <nav class="navegacao">
            <div class="fotos_principal">
                <a href="{{url_for('home')}}">
                    <div id="stock"></div>
                </a>
                <div id="logo"> </div>
            </div>
        </nav>

        <section class="second_nav">
            <div class="escritas">
                <ul>
                    <a href="{{ url_for('meu_estoque') }}">
                        <li>Meu Estoque</li>
                    </a>
                </ul>
                <ul>
                    <a href="{{ url_for('leitor_barras') }}">
                        <li>Leitor código de barras</li>
                    </a>
                </ul>
                <ul>
                    <li>Cadastros
                        <ul>
                            <a href="{{ url_for('cadastro_lote') }}">
                                <li>Cadastro de Lote</li>
                            </a>
                            <a href="{{ url_for('cadastro_ou_editar_produto') }}">
                                <li>Cadastro de Produto</li>
                            </a>
                            <a href="{{ url_for('cadastro_fornecedor') }}">
                                <li>Cadastro de Fornecedor</li>
                            </a>

                        </ul>
                    </li>



                </ul>
                <ul>
                    <a href="{{ url_for('relatorio') }}">
                        <li>Relatório</li>
                    </a>

                </ul>

            </div>
        </section>
    </header>
    <!-- Resto do seu código HTML -->

    <main>
        <section class="mover_all_cadastro">
            <div class="centralizar_cadastro">
                <div class="informacoes-pesquisa-filtro">
                    <div class="alinhar_cadastro_nome">
                        <h1>Meu estoque</h1>
                        <h5>Total de produtos cadastrados: {{ produtos|length }}</h5>
                    </div>
                    <div class="pesquisa-filtro-esquerdo">
                        <div class="search">
                            <label for="searchInput">
                                <span class="material-symbols-outlined">search</span>
                            </label>
                            <input type="text" id="searchInput" placeholder="Pesquise o produto...">
                        </div>
                        <div class="filter-container">
                            <div class="dropdown">
                                <button class="dropbtn" onclick="toggleDropdown()"><img
                                        src="../static/img/filtro (2).png"></button>
                                <div id="dropdown-content" class="dropdown-content">
                                    <button onclick="sortProducts('name')">Nome (A-Z)</button>
                                    <button onclick="sortProducts('code')">Código do Produto</button>
                                    <button onclick="sortProducts('quantity')">Quantidade</button>
                                    <button onclick="filterStock('high')">Estoque Alto</button>
                                    <button onclick="filterStock('low')">Estoque Baixo</button>
                                    <button onclick="resetFilter()">Mostrar Todos</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <section class="container1">
                    {% for produto in produtos %}
                    <div class="produto" onclick="showHide('produto{{ produto[0] }}')" data-name="{{ produto[1] }}"
                        data-code="{{ produto[3] }}" data-quantity="{{ produto[4] }}" data-stock="{{ produto[5] }}">
                        <div class="ajuste-produto">
                            <div class="produto-titulo">
                                <h5>{{ produto[3] }}</h5>
                                <h3>{{ produto[1] }}</h3>
                            </div>
                            <div class="ajuste-qtd">
                                <div class="qtd">
                                    <span class="separador"></span>
                                    <h5>QTN</h5>
                                    <p>{{ entradas_saida_por_produto[produto[0]].entrada }}</p>
                                </div>
                                <div class="lote">
                                    <a href="{{ url_for('lotes_produto', produto_id=produto[0]) }}">
                                        <div class="lote-img"></div>
                                    </a>
                                    <!-- <a href="{{ url_for('lotes_produto', produto_id=produto[0]) }}">
                                        <div class="lote-img"></div>
                                    </a> -->
                                    <div class="seta">
                                        <!-- {% if produto[5] == 'low' %}
                                        <img src="{{ url_for('static', filename='../static/img/seta-para-baixo.png') }}"
                                            alt="Seta para baixo">
                                        {% else %}
                                        <img src="{{ url_for('static', filename='../static/img/seta-para-cima.png') }}"
                                            alt="Seta para cima">
                                        {% endif %} -->


                                    </div>
                                    <a href="{{ url_for('cadastro_ou_editar_produto', id=produto[0]) }}">
                                        <div class="editar" alt="Editar Cadastro"></div>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="descricao_produto" id="produto{{ produto[0] }}">
                            <p>{{ produto[2] }}</p>


                            <!-- <div>
                                <div style="color: #27aa1e;">Entradas no estoque: {{
                                    entradas_saida_por_produto[produto[0]].entrada }} </div>
                                <div style="color: #b61d0c;">Saídas no estoque: {{
                                    entradas_saida_por_produto[produto[0]].saida }} </div>
                            </div> -->
                            <div class="botoes">
                                <button class="btn-excluir" onclick="showPopup1('flex', '{{ produto[0] }}');">Excluir
                                    Cadastro</button>
                                <div class="vermelhos">
                                    <button class="btn-retirar" onclick="showPopup2('flex');">Retirar</button>
                                    <button class="btn-adicionar" onclick="showPopup('flex');">Adicionar</button>
                                </div>

                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </section>
            </div>
        </section>
    </main>

    <footer></footer>

    <div id="bg-modal1">
        <div class="modal-contact">
            <h1>Excluir Cadastro?</h1>
            <p>Tem certeza que deseja excluir esse cadastro do seu estoque? Todos os dados referentes a esse item serão
                perdidos!</p>
            <p class="paragrafo-p-vermelho">Código, valor, quantidade e outros dados serão excluídos</p>
            <form id="deleteForm" action="" method="POST">
                <input type="hidden" name="_method" value="DELETE">
                <input type="hidden" id="produtoId" name="id" value="">
                <button type="submit">Deletar</button>
            </form>
        </div>
    </div>

    <div id="bg-modal">
        <div class="pop-do-dois">
            <h2>Deseja adicionar um novo lote ao seu estoque?</h2>
            <p class="paragrafo-p-vermelho">Crie um novo registro de lote!</p>
            <button class="botao-limpar fechar"><a onclick="showPopup('none');">Não, cancelar</a></button>
            <button class="botao-remover"><a href="{{ url_for('cadastro_lote') }}">Sim, adicionar</a></button>
        </div>
    </div>
    <div id="bg-modal2">
        <div class="expandir-retirar">
            <h2>Deseja retirar produtos do seu estoque?</h2>
            <p class="paragrafo-p-vermelho">Remova produtos do registro de estoque!</p>
            <form action="{{ url_for('retirar', produto_id=produto_id) }}" method="POST">
                <label for="lote">Selecione o lote:</label>
                <select name="lote" id="lote" required>
                    {% for lote in lotes_disponiveis %}
                    <option value="{{ lote[0] }}">{{ lote[2] }}</option> <!-- Ajuste conforme os índices corretos -->
                    {% endfor %}
                </select>
                <label for="quantidade">Quantidade a ser retirada:</label>
                <input type="number" name="quantidade" id="quantidade" min="1" required>
                <button type="submit" class="botao-remover">Sim, remover</button>
            </form>
            <button class="botao-limpar fechar"><a onclick="showPopup('none');">Não, cancelar</a></button>
        </div>
    </div>

    <script src="../static/js/srcript.js"></script>
</body>

</html>