<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/style.css">
    <title>Stockezze</title>
</head>

<body>
    <header>
        <nav Class="navegacao">
            <div class="fotos_principal">
                <a href="index.html">
                    <div id="stock"></div>
                </a>
                <div id="logo"> </div>
            </div>
        </nav>


        <section class="second_nav">
            <div class="escritas">
                <a href="{{ url_for('usuario.meu_estoque') }}" class="border_nav">
                    <button class="botao_second_nav">Estoque</button></a>

                <a href="{{ url_for('usuario.leitor_barras') }}" class="border_nav">
                    <button class="botao_second_nav">Leitor de barras</button></a>

                <a href="{{ url_for('usuario.cadastro_produtos') }}" class="border_nav">
                    <button class="botao_second_nav">Cadastro Produtos</button></a>

                <a href="{{ url_for('usuario.relatorio') }}" class="border_nav">
                    <button class="botao_second_nav">Relatório</button></a>
            </div>
        </section>
    </header>

    <main>
        <h1>Leitor de Código de Barras</h1>
    </main>

    <footer>

    </footer>
</body>

</html>