<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="stylesheet" href="../static/css/filtro.css">
    <link rel="stylesheet" href="../static/css/cadastroproduto.css">
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
    <title>Stockezze - Leitor Cod. Barras</title>
    <script>
        function updateBarcode(barcodeData) {
            var barcodeDiv = document.getElementById('barcode');
            barcodeDiv.innerHTML = "Código de Barras: " + barcodeData;
        }
    </script>
</head>

<body>
    <header>
        <nav class="navegacao">
            <div class="fotos_principal">
                <a href="{{url_for('home')}}">
                    <div id="stock"></div>
                </a>
                <div id="logo"> </div>
            </div>
        </nav>

        <section class="second_nav">
            <div class="escritas">
                <ul>
                    <a href="{{ url_for('meu_estoque') }}">
                        <li>Meu Estoque</li>
                    </a>
                </ul>
                <ul>
                    <a href="{{ url_for('leitor_barras') }}">
                        <li>Leitor código de barras</li>
                    </a>
                </ul>
                <ul>
                    <li>Cadastros
                        <ul>
                            <a href="{{ url_for('cadastro_lote') }}">
                                <li>Cadastro de Lote</li>
                            </a>
                            <a href="{{ url_for('cadastro_ou_editar_produto') }}">
                                <li>Cadastro de Produto</li>
                            </a>
                            <a href="{{ url_for('cadastro_fornecedor') }}">
                                <li>Cadastro de Fornecedor</li>
                            </a>
                        </ul>
                    </li>
                </ul>
                <ul>
                    <a href="{{ url_for('relatorio') }}">
                        <li>Relatório</li>
                    </a>
                </ul>
            </div>
        </section>
    </header>
    <h1>Barcode Scanner</h1>
    <img src="{{ url_for('video_feed') }}">
    <div id="barcode"></div>

    <h1>{{ barcode_data }}</h1>

</body>

</html>