<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/relatorio.css">
    <title>Stockezze</title>
</head>

<body>
    <header>
        <nav Class="navegacao">
            <div class="fotos_principal">
                <a href="{{url_for('home')}}">
                    <div id="stock"></div>
                </a>
                <div id="logo"> </div>
            </div>
        </nav>


        <section class="second_nav">
            <div class="escritas">
                <a href="{{ url_for('meu_estoque') }}" class="border_nav">
                    <button class="botao_second_nav">Estoque</button></a>

                <a href="{{ url_for('leitor_barras') }}" class="border_nav">
                    <button class="botao_second_nav">Leitor de barras</button></a>

                <a href="{{ url_for('cadastro_produtos') }}" class="border_nav">
                    <button class="botao_second_nav">Cadastro Produtos</button></a>

                <a href="{{ url_for('relatorio') }}" class="border_nav">
                    <button class="botao_second_nav">Relatório</button></a>

            </div>
        </section>
    </header>
    <main>
        <section class="mover_all_cadastro"> 
            <div class="centralizar_cadastro">

                <div class="titulo-dashboard">
                    <h1>Dashboard de Vendas - Relatório</h1>
                </div>

        <section class="container">
            <div class="faixa1">
                <div class="coluna-55">
                    <div class="coluna-55-esquerdo">
                        <h1>Lucro Anual de Tudo</h1>
                        <h3>R$ 3000,00</h3>
                    </div>
                    <div class="coluna-55-direito">
                        <p>2024</p>

                        <!--EM BREVE GRÁFICO-->
                    </div>
                    
                </div>
                <div class="coluna-45">
                    <h1 class="titulo-mensal">
                        Mensal
                    </h1>
                    <h3>Janeiro</h3>
                    <p>Valor total de Lucro: XXXXXXXX</p>
                    <p>Total de saída de produtos: XXXXXXXX</p>
                    <p>Total de entradas no estoque: XXXXXXXX</p>        
                </div>
            </div>

            <div class="faixa-2">
                <div class="coluna-100">
                    <div class="coluna-100-esquerdo">
                        <select name="vendas" id="produto-especifico">
                            <option value="">Leite Italac</option>
                            <option value="">Banana Prata</option>
                            <option value="">Arroz São João</option>
                        </select>

                        <select name="mês" id="produto-mês">
                            <option value="">Mês</option>
                            <option value="">Janeiro</option>
                            <option value="">Fevereiro</option>
                        </select>

                        <select name="ano" id="produto-ano">
                            <option value="">Ano</option>
                            <option value="">2023</option>
                            <option value="">2022</option>
                        </select>
                    </div>
                    <div class="coluna-100-direito">
                        <!--EM BREVE GRÁFICO-->
                        <p>!!!Gráfico!!!</p>
                        <p>Mês - Ano</p>
                    </div>
                </div>
            </div>

            <div class="faixa-3">
                <div class="coluna-55-2">
                    <div class="coluna-55-meio">
                        <p>Percas do Estoque</p>
                        <select name="todos" id="todos">
                            <option value="">Todos</option>
                            <option value="">XXXXX</option>
                            <option value="">YYYYY</option>
                        </select>
                        <h2>Lotes: 100</h2>
                    </div>
                </div>
                <div class="coluna-45-2">
                    <h1>Top 5 saídas</h1>

                    <ol type="1º">
                        <li>Banana</li>
                        <li>Cebola</li>
                        <li>Café</li>
                        <li>Leite</li>
                        <li>Papel Higiênico</li>
                    </ol>
                </div>
            </div>

            </section>
        </div>
    </section>
    </main>
</body>

</html>